
<%- include('../layout2/header') -%>



    <div class="row justify-content-center " style="margin-top: 50px;">
        
        <div class="col-md-3">
            <h3 class="text-center">Create Offer</h3>
            <form  id="addoffer">
                <div class="mb-4">
                    <label for="product_name" class="form-label">Name</label>
                    <input type="text" placeholder="Type here" class="form-control" id="name"  pattern="[A-Za-z ]+" title="Only letters and spaces are allowed" required/>
                </div>
                <div class="mb-4">
                    <label for="product_slug" class="form-label">Percentage</label>
                    <input type="text" placeholder="Type here" class="form-control" id="percentage"  pattern="[0-9]+(\.[0-9]+)?" required/>
                </div>

                <div class="mb-4">
                    <label for="offerDate" class="form-label">Satrting date </label>
                    <input type="date" class="form-control" id="startDate" name="startDate" min="<%= new Date().toISOString().split('T')[0] %>" required>
                </div>
                <div class="mb-4">
                    <label for="offerDate" class="form-label">Expiredate </label>
                    <input type="date" class="form-control" id="endDate" name="endDate" min="<%= new Date().toISOString().split('T')[0] %>" required>
                </div>
               
                <div class="d-grid">
                    <button class="btn btn-primary">Create Offer</button>
                    <p id="alert-containersucess"><%= locals.message %></p>
                    <p id="alert-containerfail"><%= locals.message %></p>
                    <a href="/admin/offer" class="btn btn-secondary text-center" style="width: 200px; height: 40px; margin: 0 auto; margin-top:10px;">Go Back</a>
                    
                </div>
            </form>
        </div>
    </div>


    <script>




        document.getElementById('addoffer').addEventListener('submit', function (event) {
            event.preventDefault(); 
            const alertContainer1 = document.getElementById('alert-containersucess');
            const alertContainer2 = document.getElementById('alert-containerfail');
            const form = document.getElementById('addoffer')
            var formData = {

                name: document.getElementById('name').value,
                percentage: document.getElementById('percentage').value,
                startDate: document.getElementById('startDate').value,
                endDate: document.getElementById('endDate').value,
                
            };

            fetch('/admin/addoffer',{
                method:'POST',
                headers:{
                    'Content-type':'application/json'
                },
                body:JSON.stringify(formData)
            })
            .then(response => response.json())
            .then(data=>{

                if(data.success){
              
                
                    alertContainer1.innerHTML=data.message
                    form.reset();
                
                
                }
                else{
                    alertContainer2.innerHTML=data.message
                    form.reset();
             
        

                }


            })
            .catch(error=>{
                alertContainer2.innerHTML='Internal server error'
                form.reset();
                
    
                console.log(error.message)
            })
           
        });















    </script>




<%- include('../layout2/footer') -%>