<%- include('../layout/header') -%>

<div class="page-wrapper">
    <header class="header">
        
        <div class="header-middle sticky-header">
            <div class="container">
                <div class="header-left">
                    <button class="mobile-menu-toggler">
                        <span class="sr-only">Toggle mobile menu</span>
                        <i class="icon-bars"></i>
                    </button>

                    <a href="index.html" class="logo">
                        <img src="assets/images/icons/footshow3-removebg-preview.png" alt="Molla Logo" width="105" height="25">
                    </a>

                    <nav class="main-nav">
                        <ul class="menu sf-arrows">
                            <li class="megamenu-container ">
                                <a href="/" >HOME</a>

                            </li>
                            <li>
                                <a href="/shop" >SHOP</a>

                            </li>
                            <li class="active">
                                <a href="/men" >MEN</a>

                            </li>
                            <li>
                                <a href="/women" >WOMEN</a>

                            </li>
                            
                            
                            
                        </ul><!-- End .menu -->
                    </nav><!-- End .main-nav -->
                </div><!-- End .header-left -->

                <div class="header-right">
                    <div class="header-search header-search-extended header-search-visible" style="width:200px">
                        <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                        <form action="#" method="get">
                            <div class="header-search-wrapper">
                                <label for="q" class="sr-only">Search</label>
                                <input type="search" class="form-control" name="q" id="searchInput" placeholder="Search product ..." oninput="handleSearchInput(this.value)" required>
                                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                            </div><!-- End .header-search-wrapper -->
                        </form>
                    </div><!-- End .header-search -->
                    
                    <a href="/wishlist" class="wishlist-link">
                        <i class="icon-heart-o"></i>
                        <% if (locals.wishcount){ %>
                            <span class="wishlist-count"><%= locals.wishcount %></span>
                            <%}%>
                    </a>

                    <div class="dropdown cart-dropdown">
                        <a href="/cart" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" data-display="static">
                            <i class="icon-shopping-cart"></i>
                            <% if (locals.cartcount){ %>
                                <span id="cart-count" class="cart-count"><%= locals.cartcount %></span>
                            <%}%>
                        </a>
                    </div><!-- End .cart-dropdown -->


                    <!-- <div id="box">
                        <a href="/login">
                            <i class="icon-user"></i>
                        </a>
                    </div> -->
                    <% if (locals.track) { %>
                        <div class="dropdown compare-dropdown">

                            <a href="#" class="sf-with-ul" role="button"    aria-haspopup="true" aria-expanded="false"  style="color:black; " data-display="static" >
                            
                                    <%= user.name %>
                        
                            </a>
                      
                            <div class="dropdown-menu dropdown-menu-right" style="width: 150px;">
                                <ul class="compare-products">
                                    <li class="compare-product">
                                        <h4 class="compare-product-title">  <a href="/profile?id=<%= user.email %>" >Profile</a></h4>
                                    </li>
                                    <li class="compare-product">
                                        <a href="/logout" >Logout</a>
                                    </li>
                                </ul>
                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .compare-dropdown -->

                        <% } else { %>
                            <a id="txt" href="/login" style="margin-left: 30px;color:black;">
                                LOGIN
                            </a>
                        <% } %>
                    
                </div><!-- End .header-right -->
            </div><!-- End .container -->
        </div><!-- End .header-middle -->
    </header><!-- End .header -->

    <main class="main">
        <div class="page-header text-center" style="background-image: url('/images/<%= encodeURIComponent(men.image[0]) %>');height: 400px; ">
            <div class="container">
                <h1 class="page-title"><span>Men's</span><span>Shop</span></h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Men</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="toolbox">
                            <div class="toolbox-left">
                                <div class="toolbox-info">
                            
                                </div><!-- End .toolbox-info -->
                            </div><!-- End .toolbox-left -->

                            <div class="toolbox-right">
                                <div class="toolbox-sort">
                                    <label for="sortby">Sort by:</label>
                                    <div class="select-custom">
                                        <select name="sortby" id="sortby" class="form-control">
                                            <option value="Latest selected">Latest</option>
                                            <option value="Oldest">Oldest</option>
                                            <option value="Pricelow">Price low to high</option>
                                            <option value="Pricehigh">Price high to low</option>
                                        </select>
                                    </div>
                                </div><!-- End .toolbox-sort -->
                                
                            </div><!-- End .toolbox-right -->
                        </div><!-- End .toolbox -->

                        <div class="products mb-3" id="pcard">
                            <div class="row justify-content-center">
                                <div class="products mb-3">
                                    <div class="row justify-content-center-start">
                                        <% product.forEach((product,index) => { %>
                                            <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                                                <!-- <div class="col-12 col-md-4 col-lg-4 col-xl-3 <%= index % 3 === 0 ? ' offset-md-0 offset-lg-0 offset-xl-0' : '' %>"> -->
                                                <div class="product product-7 text-center">
                                                    <figure class="product-media">
                                                        
                                                        <a href="/singleproduct?id=<%=product._id %>">
                                                            <img src="/images/<%= product.image[0]%>" alt="<%= product.name %>" class="product-image img-fluid" id="shop-image">
                                                            <img src="/images/<%= product.image[1]%>" alt="<%= product.name %>"alt="Product image" class="product-image-hover">
                                                        </a>
                                
                                                        <div class="product-action-vertical">
                                     
                                                           
                                                        </div><!-- End .product-action-vertical -->
                                
                                                        <div class="product-action">
                                                            <% if(product.quantity>0) { %>
                                                                <a href="#" class="btn-product btn-cart" pid="<%= product._id %>"><span>Add to Cart</span></a>
                                                           <% } else { %>
                                                               <a href="#" class="btn-product btn-cart"><span>out of stock</span></a>
                                                          <% } %>
                                                        </div><!-- End .product-action -->
                                                    </figure><!-- End .product-media -->
                                
                                                    <div class="product-body">
                                                        <div class="product-cat">
                                                            <a href="#"><%= product.category.Category %></a>
                                                        </div><!-- End .product-cat -->
                                                        <h3 class="product-title"><a href="<%=  %>"><%= product.name %></a></h3><!-- End .product-title -->
                                                        <% if(product.offer) {%>

                                                            <%
                                                                
                                                                const originalPrice = product.price;
                                                                const discountPercentage = product.offer.percentage;
                                                                const discountAmount = (originalPrice * discountPercentage) / 100;
                                                                const discountedPrice = originalPrice - discountAmount;
                                                                %>
                                                                <div class="product-price"> ₹<%= discountedPrice %><br> <span style="text-decoration: line-through; color: gray;"> ₹<%= product.price %></span>(<%=product.offer.percentage%>% OFF)</div>
                                                               
                                                               
                                                               
                                                      
                                                       <% } else if(product.category.offer) {%>
                    
                                                        <%
                                                                
                                                                const originalPrice = product.price;
                                                                const discountPercentage = product.category.offer.percentage;
                                                                const discountAmount = (originalPrice * discountPercentage) / 100;
                                                                const discountedPrice = originalPrice - discountAmount;
                                                                %>
                                                                <div class="product-price"> ₹<%= discountedPrice %><br> <span style="text-decoration: line-through; color: gray;"> ₹<%= product.price %></span>
                                                               
                                                                    (<%=product.category.offer.percentage%>% OFF)
                                                                </div><!-- End .product-price -->

                                                       
                                                        <% } else{  %> 
                                                            <div class="product-price">  ₹<%= product.price %></div>
                                                         
                    
                                                      <% }%>
                                                       
                                
                                                        <!-- End .product-nav -->
                                                    </div><!-- End .product-body -->
                                                </div><!-- End .product -->
                                            </div><!-- End .col-6 col-md-4 col-lg-4 col-xl-3 -->
                                        <% }); %>
                                    </div><!-- End .row justify-content-center -->
                                </div>
                                

                               
                            </div><!-- End .row -->
                        </div><!-- End .products -->


                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                <% if (currentPage > 1) { %>
                                    <li class="page-item">
                                        <a class="page-link" href="/men?page=<%= currentPage - 1 %>" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                <% } else { %>
                                    <li class="page-item disabled">
                                        <span class="page-link" aria-hidden="true">&laquo;</span>
                                    </li>
                                <% } %>
                        
                                <% for (let page = 1; page <= totalPages; page++) { %>
                                    <li class="page-item <%= currentPage === page ? 'active' : '' %>">
                                        <a class="page-link" href="/men?page=<%= page %>"><%= page %></a>
                                    </li>
                                <% } %>
                        
                                <li class="page-item-total">of <%= totalPages %></li>
                        
                                <% if (currentPage < totalPages) { %>
                                    <li class="page-item">
                                        <a class="page-link" href="/men?page=<%= currentPage + 1 %>" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                <% } else { %>
                                    <li class="page-item disabled">
                                        <span class="page-link" aria-hidden="true">&raquo;</span>
                                    </li>
                                <% } %>
                            </ul>
                        </nav>
                        
                    </div><!-- End .col-lg-9 -->
                    <aside class="col-lg-3 order-lg-first">
                        <div class="sidebar sidebar-shop">
                            
                            <div class="widget widget-clean">
                                <label>Filters:</label>
                                <a href="#" class="sidebar-filter-clear" id="clearall">Clean All</a>
                            </div><!-- End .widget widget-clean -->



                            <!-- ------------------------filter catgory------------------------------------- -->


                          
                            <div class="widget widget-collapsible">
                                <h3 class="widget-title">
                                <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true" aria-controls="widget-1">
                                    Category
                                </a>
                                </h3>
                                <div class="collapse show" id="widget-1">
                                <div class="widget-body">
                                    <div class="filter-items filter-items-count">
                                    <% category.forEach(category => { %>
                                        <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="<%= category._id %>" name="categories" value="<%= category._id %>">
                                            <label class="custom-control-label" for="<%= category._id %>"><%= category.Category %></label>
                                        </div>
                                        </div>
                                    <% }); %>
                                    </div>
                                </div>
                                </div>
                            </div>

                            <!-- ---------------------------end filetr category------------------------------------ -->



                            
        

                        </div><!-- End .sidebar sidebar-shop -->
                    </aside><!-- End .col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->


    <footer class="footer">
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="widget widget-about">
                            <img src="assets/images/icons/footshow3-removebg-preview.png" class="footer-logo" alt="Footer Logo" width="105" height="25">
                            <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. </p>

                            <div class="social-icons">
                                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Pinterest"><i class="icon-pinterest"></i></a>
                            </div><!-- End .soial-icons -->
                        </div><!-- End .widget about-widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="widget">
                            <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                            <ul class="widget-list">
                                <li><a href="/about">About Footshow</a></li>
                                <li><a href="/shop">Shop on Footshow</a></li>
                                <li><a href="/resgister">Register</a></li>
                                <li><a href="/login">Log in</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="widget">
                            <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                            <ul class="widget-list">
                                <li><a href="#">Payment Methods</a></li>
                                <li><a href="#">Money-back guarantee!</a></li>
                                <li><a href="#">Returns</a></li>
                                <li><a href="#">Shipping</a></li>
                                <li><a href="#">Terms and conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="widget">
                            <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                            <ul class="widget-list">
                                <li><a href="/login">Sign In</a></li>
                                    <li><a href="/cart">View Cart</a></li>
                                    <li><a href="/wishlist">My Wishlist</a></li>
                                    <li><a href="/profile">Track My Order</a></li>
                                    <li><a href="/profile">Profile</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .footer-middle -->

        <div class="footer-bottom">
            <div class="container">
                <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p><!-- End .footer-copyright -->
                <figure class="footer-payments">
                    <img src="assets/images/payments.png" alt="Payment methods" width="272" height="20">
                </figure><!-- End .footer-payments -->
            </div><!-- End .container -->
        </div><!-- End .footer-bottom -->
    </footer><!-- End .footer -->
</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<!-- Mobile Menu -->
<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

<div class="mobile-menu-container">
    <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close"><i class="icon-close"></i></span>

        <form action="#" method="get" class="mobile-search">
            <label for="mobile-search" class="sr-only">Search</label>
            <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..." required>
            <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
        </form>
        
        <nav class="mobile-nav">
            <ul class="mobile-menu">
                <li class="active">
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="/shop">Shop</a>
                    
                </li>\<li class="active">
                    <a href="/men">MEN</a>
                </li>
                <li>
                    <a href="/women">WOMEN</a>
                    
                </li>
                
                <li>
                    <a href="#">Pages</a>
                    <ul>
                        <li>
                            <a href="/cart">Cart</a>

                          
                        </li>
                        <li>
                            <a href="/wishlist">Wishlist</a>

                            
                        </li>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/profile">Profile</a></li>
                        <li><a href="/about">About</a></li>
                        
                    </ul>
                </li>
               
               
            </ul>
        </nav><!-- End .mobile-nav -->

        <div class="social-icons">
            <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
            <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
            <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
            <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
        </div><!-- End .social-icons -->
    </div><!-- End .mobile-menu-wrapper -->
</div><!-- End .mobile-menu-container -->

<!-- Sign in / Register Modal -->
<div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="icon-close"></i></span>
                </button>

                <div class="form-box">
                    <div class="form-tab">
                        <ul class="nav nav-pills nav-fill" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Register</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="tab-content-5">
                            <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="signin-tab">
                                <form action="#">
                                    <div class="form-group">
                                        <label for="singin-email">Username or email address *</label>
                                        <input type="text" class="form-control" id="singin-email" name="singin-email" required>
                                    </div><!-- End .form-group -->

                                    <div class="form-group">
                                        <label for="singin-password">Password *</label>
                                        <input type="password" class="form-control" id="singin-password" name="singin-password" required>
                                    </div><!-- End .form-group -->

                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>LOG IN</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>

                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="signin-remember">
                                            <label class="custom-control-label" for="signin-remember">Remember Me</label>
                                        </div><!-- End .custom-checkbox -->

                                        <a href="#" class="forgot-link">Forgot Your Password?</a>
                                    </div><!-- End .form-footer -->
                                </form>
                                <div class="form-choice">
                                    <p class="text-center">or sign in with</p>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <a href="#" class="btn btn-login btn-g">
                                                <i class="icon-google"></i>
                                                Login With Google
                                            </a>
                                        </div><!-- End .col-6 -->
                                        <div class="col-sm-6">
                                            <a href="#" class="btn btn-login btn-f">
                                                <i class="icon-facebook-f"></i>
                                                Login With Facebook
                                            </a>
                                        </div><!-- End .col-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .form-choice -->
                            </div><!-- .End .tab-pane -->
                            <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                <form action="#">
                                    <div class="form-group">
                                        <label for="register-email">Your email address *</label>
                                        <input type="email" class="form-control" id="register-email" name="register-email" required>
                                    </div><!-- End .form-group -->

                                    <div class="form-group">
                                        <label for="register-password">Password *</label>
                                        <input type="password" class="form-control" id="register-password" name="register-password" required>
                                    </div><!-- End .form-group -->

                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>SIGN UP</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>

                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="register-policy" required>
                                            <label class="custom-control-label" for="register-policy">I agree to the <a href="#">privacy policy</a> *</label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .form-footer -->
                                </form>
                                <div class="form-choice">
                                    <p class="text-center">or sign in with</p>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <a href="#" class="btn btn-login btn-g">
                                                <i class="icon-google"></i>
                                                Login With Google
                                            </a>
                                        </div><!-- End .col-6 -->
                                        <div class="col-sm-6">
                                            <a href="#" class="btn btn-login  btn-f">
                                                <i class="icon-facebook-f"></i>
                                                Login With Facebook
                                            </a>
                                        </div><!-- End .col-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .form-choice -->
                            </div><!-- .End .tab-pane -->
                        </div><!-- End .tab-content -->
                    </div><!-- End .form-tab -->
                </div><!-- End .form-box -->
            </div><!-- End .modal-body -->
        </div><!-- End .modal-content -->
    </div><!-- End .modal-dialog -->
</div><!-- End .modal -->

<!-- Plugins JS File -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jquery.hoverIntent.min.js"></script>
<script src="assets/js/jquery.waypoints.min.js"></script>
<script src="assets/js/superfish.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/wNumb.js"></script>
<script src="assets/js/bootstrap-input-spinner.js"></script>
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script src="assets/js/nouislider.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<!-- Main JS File -->
<script src="assets/js/main.js"></script>



<script>
    async function handleSearchInput(searchTerm) {
       
           $('#pcard').load(`/men?search=${searchTerm} #pcard`)

     
    }



     //filetr produts------

     document.addEventListener('DOMContentLoaded', function () {
        const categoryCheckboxes = document.querySelectorAll('input[name="categories"]');
        const clearFiltersButton = document.getElementById('clearFilters');
        const clearAllButton = document.getElementById('clearall');
        const sortSelect = document.getElementById('sortby');

        categoryCheckboxes.forEach(checkbox => {
            checkbox.addEventListener('change', function () {
                const selectedCategories = Array.from(categoryCheckboxes)
                    .filter(checkbox => checkbox.checked)
                    .map(checkbox => checkbox.value);

        
                
                $('#pcard').load(`/men?filter=${selectedCategories} #pcard`)

               
            });
        });

        //clear

        clearAllButton.addEventListener('click', function () {
       
            
            $('#pcard').load(`/men #pcard`)

    });


    //sort---
    sortSelect.addEventListener('change', function () {
            const selectedValue = sortSelect.value;

           
           $('#pcard').load(`/men?sort=${selectedValue} #pcard`)

        });



        })



//add to cart

document.addEventListener('DOMContentLoaded', function () {
   
   document.querySelectorAll('.btn-cart').forEach(function (btn) {
       btn.addEventListener('click', function (event) {
           event.preventDefault();
         
           const pid = btn.getAttribute('pid');

           const qty=1
       
           fetch(`/addtocart?id=${pid}`, {
       method: 'POST',
       headers: {
           'Content-Type': 'application/json'
       },
       body:JSON.stringify({qty})
       
   })

   .then(response => {
           
           if (response.ok) {
               return response.json();
           } else {
               throw new Error('Failed to add to cart');
           }
       })
       .then(data => {
           btn.querySelector('span').textContent = 'Added to Cart';


setTimeout(() => {
   btn.querySelector('span').textContent = 'Add to Cart';
}, 10000);
           handleCartResponse(data);
       })
   .catch(error => {
           console.error('Error adding to cart:', error);
           showAlert('Error', 'Failed to add to cart', 'error');
       });
           
       



         
       });
   });
});



function handleCartResponse(data) {
   if (data.success) {
    if(data.count){

    const cartCountElement = document.getElementById('cart-count');
    const currentCount = parseInt(cartCountElement.innerHTML);
    cartCountElement.innerHTML = currentCount + 1;

    }
       showAlert('Success', data.message, 'success');
   } else {

       showAlert('Failed', data.message, 'error');

       

   }
}
function showAlert(title, message, icon) {
   Swal.fire({
       title: title,
       text: message,
       icon: icon,
       showConfirmButton: false,
       timer: 1000,customClass: {
           popup: 'animate__animated animate__fadeOut',
       },
   }).then((result) => {
           if (message.includes('User not login')) {
   window.location.href = '/login';
}
       
   });
}






</script>
<%- include('../layout/footer') -%>