<%- include('../layout/header') -%>
    <div class="page-wrapper">
        <header class="header">
        
            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>
    
                        <a href="index.html" class="logo">
                            <img src="assets/images/icons/footshow3-removebg-preview.png" alt="Molla Logo" width="105" height="25">
                        </a>
    
                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container ">
                                    <a href="/" >HOME</a>
    
                                </li>
                                <li>
                                    <a href="/shop" >SHOP</a>
    
                                </li>
                                <li>
                                    <a href="/men" >MEN</a>
    
                                </li>
                                <li>
                                    <a href="/women" >WOMEN</a>
    
                                </li>
                                
                                
                                
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->
    
                    <div class="header-right">
                        <div class="header-search header-search-extended header-search-visible" style="width:200px">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                            <form action="#" method="get">
                                <div class="header-search-wrapper">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="q" id="q" placeholder="Search product ..." required>
                                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                        
                        <a href="/wishlist" class="wishlist-link">
                            <i class="icon-heart-o"></i>
                            <% if (locals.wishcount){ %>
                                <span class="wishlist-count"><%= locals.wishcount %></span>
                                <%}%>
                        </a>
    
                        <div class="dropdown cart-dropdown">
                            <a href="/cart" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" data-display="static">
                                <i class="icon-shopping-cart"></i>
                                <% if (locals.cartcount){ %>
                                    <span class="cart-count"><%= locals.cartcount %></span>
                                <%}%>
                            </a>
                        </div><!-- End .cart-dropdown -->
    
    
                        <!-- <div id="box">
                            <a href="/login">
                                <i class="icon-user"></i>
                            </a>
                        </div> -->
                        <% if (locals.track) { %>
                            <div class="dropdown compare-dropdown">
    
                                <a href="#" class="sf-with-ul" role="button"    aria-haspopup="true" aria-expanded="false"  style="color:black; " data-display="static" >
                                
                                        <%= user.name %>
                            
                                </a>
                          
                                <div class="dropdown-menu dropdown-menu-right" style="width: 150px;">
                                    <ul class="compare-products">
                                        <li class="compare-product">
                                            <h4 class="compare-product-title">  <a href="/profile?id=<%= user.email %>" >Profile</a></h4>
                                        </li>
                                        <li class="compare-product">
                                            <a href="/logout" >Logout</a>
                                        </li>
                                    </ul>
                                </div><!-- End .dropdown-menu -->
                            </div><!-- End .compare-dropdown -->
    
                            <% } else { %>
                                <a id="txt" href="/login" style="margin-left: 30px;color:black;">
                                    LOGIN
                                </a>
                            <% } %>
                        
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">My Account<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">My Account</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="dashboard">
	                <div class="container">
	                	<div class="row">
	                		<aside class="col-md-4 col-lg-3">
	                			<ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
								    <li class="nav-item">
								        <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="true">Dashboard</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-wallet-link" data-toggle="tab" href="#tab-wallet" role="tab" aria-controls="tab-wallet" aria-selected="false">Wallet</a>
								    </li>
                                    <li class="nav-item">
								        <a class="nav-link" id="tab-coupon-link" data-toggle="tab" href="#tab-coupon" role="tab" aria-controls="tab-coupon" aria-selected="false">Coupon</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false">Adresses</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false">Change Password</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" href="/logout">Sign Out</a>
								    </li>
								</ul>
	                		</aside><!-- End .col-lg-3 -->

	                		<div class="col-md-8 col-lg-9">
	                			<div class="tab-content">


                                    <input type="hidden" id="userid" value="user._id">

								    <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
								    	<form method="POST" id="profile_update">
			                				
			                					
                                            <label> Name *</label>
                                             <input type="text" class="form-control" id="name" value="<%= user.name %>" pattern="[A-Za-z\s]+" title="Only letters and spaces are allowed"required >
			                				

		            						<!-- <label>Mobile Number *</label>
		            						<input type="text" class="form-control" id="mobile" value="<%= user.mobile %>" required>
		            						<small class="form-text">This will be how your name will be displayed in the account section and in reviews</small> -->
                                           
		                					<label>Email address *</label>
		        							<input type="email" class="form-control" value="<%= user.email %>" disabled>

                                            
		            						<!-- <label>Current password (leave blank to leave unchanged)</label>
		            						<input type="password" class="form-control"> -->

		            						<!-- <label>New password (leave blank to leave unchanged)</label>
		            						<input type="password" class="form-control"> -->

		            						

		                					<!-- <button type="submit" class="btn btn-outline-primary-2">
			                					<span>SAVE CHANGES</span>
			            						<i class="icon-long-arrow-right"></i>
			                				</button> -->
                                            <p id="alert-container"><%= locals.message %></p>
                                            <button type="submit" class="btn btn-outline-primary-2">
			                					<span>SAVE CHANGES</span>
			            						<i class="icon-long-arrow-right"></i>
			                				</button>

			                			</form><br><br>

                                        <div class="input-group">
                                            <input type="text" class="form-control"
                                                value="http://footshow.shop/register?referralCode=<%= user.referral%>"
                                                id="referralLink" readonly />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary " style="height: 40px;"
                                                    onclick="copyReferralLink()">Copy</button>
                                            </div>
                                        </div>
                                        


								    </div><!-- .End .tab-pane -->

								    <div  class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
                                        <% if (locals.order){ %>
                                            <% let i=skip+1 %>
                                            <div class="row" id="orderdiv">
                                            <% order.forEach((order,index)=>{ %>
                                               
                                                <div class="col-lg-6" >
                                                    <div class="card card-dashboard">
                                                        <div class="card-body">
                                                            <h3 > Order <%= i++ %></h3>
                                                            <!-- End .card-title -->
                                                
                                                            <!-- Display order details -->
                                                            
                                                                <ul>
                                                                    <% order.products.forEach((product,i) => { %>
                                                                        <li class="product-item">
                                                                            <span><img src="/images/<%= product.image %>" alt="<%= product.name %>" width="50" height="50"></span>
                                                                            <%= product.name %> - <%= product.quantity %> x <%= product.price %> = <%= product.totalprice %>

                                                                            <% if (product.status === 'Placed') { %>
                                                                                <a href="/cancelorder?index=<%= i %>&oid=<%= order._id %>">Cancel</a>
                                                                            <% } %>
                                                                
                                                                            <!-- Show "Return" if the order status is "Delivered" -->
                                                                            <% if (product.status === 'Delivered') { %>
                                                                                <a href="#" onclick="showReturnAlert('<%= i %>', '<%= order._id %>')">Return</a>

                                                                            <% } %><br>
                                                                            Status: <%= product.status %>
                                                                            <a href="/orderview?id=<%= order._id %>&i=<%= i %>" class="btn btn-primary btn-rounded"  style="font-size: 10px; margin-right: 0;">View Details</a>

                                                                        </li>
                                                                    <% }); %>
                                                                </ul>
                                                
                                                                <!-- Display total, payment, and status -->
                                                                <p>
                                                                    Total: <%= order.total %><br>
                                                                    Payment: <%= order.payment %><br>
                                                            
                                                                    
                                                                </p>
                                                                <% if (order.payementstatus === 'Success' || (order.payementstatus === 'Cash on delivery' && order.products.some(product => product.status === 'Delivered'))) { %>
                                                                    <a href="/createinvoice?id=<%= order._id %>" class="btn btn-outline-primary btn-round" style="font-size: 10px; margin-right: 0;">Download Invoice</a>
                                                                <% } %>
                                                                
                                                        </div>
                                                        
                        
                                                        <!-- End .card-body -->
                                                    </div>
                                                    
                                                    <!-- End .card-dashboard -->
                                                </div>
                                                <!-- End .col-lg-6 -->
                                               
                                                

                                            <% }) %>
                                        </div>
                                        <nav aria-label="Page navigation">
                                            <ul class="pagination justify-content-center">
                                                <% if (currentPage > 1) { %>
                                                    <li class="page-item">
                                                        <a id="prevPage" class="page-link" onclick="navigateToPage('<%= currentPage - 1 %>')"  aria-label="Previous">
                                                            <span aria-hidden="true">&laquo;</span>
                                                            <span class="sr-only">Previous</span>
                                                        </a>
                                                    </li>
                                                <% } else { %>
                                                    <li class="page-item disabled">
                                                        <span class="page-link" aria-hidden="true">&laquo;</span>
                                                    </li>
                                                <% } %>
                                        
                                                <% for (let page = 1; page <= totalPages; page++) { %>
                                                    <li class="page-item <%= currentPage === page ? 'active' : '' %>">
                                                        <a id="prevPage" class="page-link"  onclick="navigateToPage('<%= page %>')"><%= page %></a>
                                                    </li>
                                                <% } %>
                                        
                                                <li class="page-item-total">of <%= totalPages %></li>
                                        
                                                <% if (currentPage < totalPages) { %>
                                                    <li class="page-item">
                                                        <a id="prevPage" class="page-link"  onclick="navigateToPage('<%= currentPage + 1 %>')" aria-label="Next">
                                                            <span aria-hidden="true">&raquo;</span>
                                                            <span class="sr-only">Next</span>
                                                        </a>
                                                    </li>
                                                <% } else { %>
                                                    <li class="page-item disabled">
                                                        <span class="page-link" aria-hidden="true">&raquo;</span>
                                                    </li>
                                                <% } %>
                                            </ul>
                                        </nav>
                                        <%} else { %>
                                            
                                            <p>No order has been made yet.</p>
                                       <% } %>
								    	
								    </div><!-- .End .tab-pane -->




                                    
								    <div class="tab-pane fade" id="tab-wallet" role="tabpanel" aria-labelledby="tab-wallet-link">
								    	


                                        <div class="col-lg-6  text-center">
                                            <div class="card card-dashboard" style="text-align: center; background-color: #f1f1f1; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                                                <div class="card-body">
                                                    <h4 class="card-title" style="color: #333; font-size: 30px;">Wallet</h4><!-- End .card-title -->
                                        
                                                    <div style="font-size: 18px; color: #666;">
                                                                        <p style="font-weight: bold;">Current Balance:</p>
                                                                        <p style="font-size: 20px;  font-weight: bold;">₹<%= user.wallet %></p>
                                                                    </div>
                                                                                                                        
                                                </div><!-- End .card-body -->
                                            </div><!-- End .card-dashboard -->
                                        </div><!-- End .col-lg-6 -->

								    	<a href="/wallethistory" class="btn btn-outline-primary-2"><span>Wallet History</span><i class="icon-long-arrow-right"></i></a>
								    </div><!-- .End .tab-pane -->


                                    <!-- ---------------------------coupons----------------------------------- -->


                                    <div class="tab-pane fade" id="tab-coupon" role="tabpanel" aria-labelledby="tab-coupon-link">
								    	

                                            <% if (coupon.length > 1) { %>
                                                
                                                    <div class="row">
                                                        <% coupon.forEach((coupon, index) => { %>
                                                            <div class="col-lg-6">
                                                                <div class="card card-dashboard">
                                                                    <div class="card-body">
                                                                        <h3 class="card-title"> Coupon Details</h3><!-- End .card-title -->
                                            
                                                                        <p>
                                                                            Coupon Name: <%= coupon.name %><br>
                                                                            Coupon Code: <%= coupon.code %> <br>
                                                                            Minimum Amount for Offer: <%= coupon.minamount %> <br>
                                                                            Offer: <%= coupon.offeramount %> <br>
                                                                            Expiry Date: <%= coupon.expireDate.toDateString() %> <br>
                                                                            <% if (coupon.useduser.some(used => used.userid.toString() === user._id.toString())) { %>
                                                                                <span style="color: red;">Coupon already used by you</span><br>
                                                                            <% } else { %>
                                                                                <span style="color: green;">Coupon not yet used by you</span><br>
                                                                            <% } %>
                                                                            
                                                                            
                                                                            <!-- Add any other coupon details you want to display -->
                                            
                                                                        </p>
                                                                    </div><!-- End .card-body -->
                                                                </div><!-- End .card-dashboard -->
                                                            </div><!-- End .col-lg-6 -->
                                                        <% }) %>
                                                    
                                                
                                            <% } else { %>
                                                <p>No coupons available.</p>
                                            <% } %>
                                            

                                    </div><!-- .End .tab-pane -->

                                    <!-- start modal -->
                                    
                                    <!-- end of modal -->


								    
								</div>
                                <div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
                                    <!-- <p>The following addresses will be used on the checkout page by default.</p> -->

                                    <div class="row">
                                        <% if (user.address) { %>
                                              
                                            <% user.address.forEach((adress,index)=>{ %>

                                                <div class="col-lg-6">
                                                    <div class="card card-dashboard">
                                                        <div class="card-body">
                                                            <h3 class="card-title"> Address</h3><!-- End .card-title -->
                                                            
                                                            <p><%= adress.name %><br>
                                                                <%= adress.buildingname %> <br>
                                                                <%= adress.street %> <br>
                                                                <%= adress.city %><br>
                                                                <%= adress.state %><br>
                                                                <%= adress.mobile %><br>
                                                                <%= adress.pincode %><br>
                                                                <a href="/editaddress?index=<%= index %>&id=<%= user._id %>">Edit <i class="icon-edit"></i></a><br>
                                                                <a href="/deleteaddress?index=<%= index %>&id=<%= user._id %>">Delete <i class="icon-edit"></i></a>
                                                            </p>
                                                        </div><!-- End .card-body -->
                                                    </div><!-- End .card-dashboard -->
                                                </div><!-- End .col-lg-6 -->


                                           <% }) %>


                                     <%  } else { %>

                                        <h1> no adress added yet</h1>
                                    <% } %>
                                      
                                        


                                        <!-- <div class="col-lg-6">
                                            <div class="card card-dashboard">
                                                <div class="card-body">
                                                    <h3 class="card-title">Shipping Address</h3>End .card-title -->

                                                    <!-- <p>You have not set up this type of address yet.<br>pass
                                                    <a href="#">Edit <i class="icon-edit"></i></a></p>
                                                </div>
                                            </div>
                                        </div> -->

                                    </div><!-- End .row -->
                                    <a href="/createaddress" id="addAddressLink">Add Address<i class="icon-edit"></i></a>
                                </div><!-- .End .tab-pane -->
                                <div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
                                    <form action="#" id="password_update" method="profile">
                                        <!-- <div class="row">
                                            <div class="col-sm-6">
                                                <label>First Name *</label>
                                                <input type="text" class="form-control" required>
                                            </div>

                                            <div class="col-sm-6">
                                                <label>Last Name *</label>
                                                <input type="text" class="form-control" required>
                                            </div> End .col-sm-6 -->
                                        <!-- </div> -->

                                        <!-- <label>Display Name *</label>
                                        <input type="text" class="form-control" required>
                                        <small class="form-text">This will be how your name will be displayed in the account section and in reviews</small> -->

                                        <!-- <label>Email address *</label>
                                        <input type="email" class="form-control" required> -->

                                        <label>Current password </label>
                                        <input type="password" class="form-control" id="current_password" required>

                                        <label>New password</label>
                                        <input type="password" class="form-control" id="new_password" required>

                                        <label>Confirm new password</label>
                                        <input type="password" class="form-control mb-2" id="confirm_new_password" required>
                                        <p id="alert-container2"><%= locals.message %></p>
                                        <button type="submit" class="btn btn-outline-primary-2" >
                                            <span>SAVE CHANGES</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>
                                        <a href="/forgetpassword" class="forgot-link" id="linkforget"> Forgot Your Password?</a>
                                    </form>
                                </div><!-- .End .tab-pane -->

	                		</div><!-- End .col-lg-9 -->
	                	</div><!-- End .row -->
	                </div><!-- End .container -->
                </div><!-- End .dashboard -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

     

        <footer class="footer">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget widget-about">
                                <img src="assets/images/icons/footshow3-removebg-preview.png" class="footer-logo" alt="Footer Logo" width="105" height="25">
                                <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. </p>
    
                                <div class="social-icons">
                                    <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Pinterest"><i class="icon-pinterest"></i></a>
                                </div><!-- End .soial-icons -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
    
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->
    
                                <ul class="widget-list">
                                    <li><a href="/about">About Footshow</a></li>
                                    <li><a href="/shop">Shop on Footshow</a></li>
                                    <li><a href="/resgister">Register</a></li>
                                    <li><a href="/login">Log in</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
    
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->
    
                                <ul class="widget-list">
                                    <li><a href="#">Payment Methods</a></li>
                                    <li><a href="#">Money-back guarantee!</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Terms and conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
    
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->
    
                                <ul class="widget-list">
                                    <li><a href="/login">Sign In</a></li>
                                        <li><a href="/cart">View Cart</a></li>
                                        <li><a href="/wishlist">My Wishlist</a></li>
                                        <li><a href="/profile">Track My Order</a></li>
                                        <li><a href="/profile">Profile</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->
    
            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p><!-- End .footer-copyright -->
                    <figure class="footer-payments">
                        <img src="assets/images/payments.png" alt="Payment methods" width="272" height="20">
                    </figure><!-- End .footer-payments -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->
    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>
            
            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="active">
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="/shop">Shop</a>
                        
                    </li>\<li class="active">
                        <a href="/men">MEN</a>
                    </li>
                    <li>
                        <a href="/women">WOMEN</a>
                        
                    </li>
                    
                    <li>
                        <a href="#">Pages</a>
                        <ul>
                            <li>
                                <a href="/cart">Cart</a>

                              
                            </li>
                            <li>
                                <a href="/wishlist">Wishlist</a>

                                
                            </li>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/profile">Profile</a></li>
                            <li><a href="/about">About</a></li>
                            
                        </ul>
                    </li>
                   
                   
                </ul>
            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

    <!-- Sign in / Register Modal -->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Register</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tab-content-5">
                                <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="signin-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="singin-email">Username or email address *</label>
                                            <input type="text" class="form-control" id="singin-email" name="singin-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="singin-password">Password *</label>
                                            <input type="password" class="form-control" id="singin-password" name="singin-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>LOG IN</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="signin-remember">
                                                <label class="custom-control-label" for="signin-remember">Remember Me</label>
                                            </div><!-- End .custom-checkbox -->

                                            <a href="#" class="forgot-link">Forgot Your Password?</a>
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                                <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                    <form action="#" id="password_update" method='POST'>
                                        <div class="form-group">
                                            <label for="register-email">Your email address *</label>
                                            <input type="email" class="form-control" id="register-email" name="register-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="register-password">Password *</label>
                                            <input type="password" class="form-control" id="register-password" name="register-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>SIGN UP</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="register-policy" required>
                                                <label class="custom-control-label" for="register-policy">I agree to the <a href="#">privacy policy</a> *</label>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login  btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->





    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>


    <script>

        // FOR PROFILE UPDATE--------------------------


        document.getElementById('profile_update').addEventListener('submit', async (event) => {
            event.preventDefault(); 
            const nameInput = document.getElementById('name');
            const alertContainer = document.getElementById('alert-container');
           // const mobileInput = document.getElementById('mobile');
           // const mobile = document.getElementById('mobile').value;
            //const name = document.getElementById('name').value;
            const name = nameInput.value.trim();
    if (name === '') {
        alertContainer.innerHTML = 'Name is required.';
        return;
    }
            
            const userId = '<%= user._id %>';
            
            try {
                const response = await fetch(`/profile?id=${userId}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({name }),
                });
    
                const data = await response.json();
    
                if (response.ok) {
                    if(data.us){
                     console.log(data.message)
                     alertContainer.innerHTML=data.message
                     nameInput.value=data.us.name
                     //mobileInput.value=data.us.mobile

                    }

                    else{
                    console.error(data.message);
                    alertContainer.innerHTML=data.message
                    }

                    console.log(data.message);
                    
                } else {
                    console.error(data.message);
                    alertContainer.innerHTML=data.message
                }
            } catch (error) {

                alertContainer.innerHTML=data.message
                console.error('Error:', error.message);
            }
        });


        // FOR PASSWORD UPDATE------------------------------


        document.getElementById('password_update').addEventListener('submit',async()=>{
            event.preventDefault()

            const currentPassword = document.getElementById('current_password').value;
            const newPassword = document.getElementById('new_password').value;
            const confirmNewPassword = document.getElementById('confirm_new_password').value;
            const userId = '<%= user._id %>';
            const alertContainer = document.getElementById('alert-container2');

            if (newPassword !== confirmNewPassword) {
                alertContainer.innerHTML ='New password and confirm new password must match.'
                return;
            }
             if (newPassword.length < 8) {
                alertContainer.innerHTML = 'New password must be at least 8 characters long.'
                return;
            }

            const updatePasswordResponse = await fetch(`/updatepassword?id=${userId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    currentPassword,
                    newPassword,
                }),
            });


            try {
            
                
                if (updatePasswordResponse.ok) {
                    const data = await updatePasswordResponse.json();
                    console.log(data);

                   
                    alertContainer.innerHTML = data.message;
                    console.log(alertContainer)

                }
                 else {
                   
                    console.log('Server error:', updatePasswordResponse.message);
                    alertContainer.innerHTML = 'Server error. Please try again later.';
                }
            }
        
             catch (error) {
                console.log('Error parsing JSON:', error.message);
                alertContainer.innerHTML = 'Error parsing response. Please try again later.';
            }



        })





// validation 


function validateForm() {
        // Get form inputs
        var name = document.getElementById('name').value.trim();
    var building = document.getElementById('bname').value.trim();
    var mobile = document.getElementById('mobile').value.trim();
    var street = document.getElementById('street').value.trim();
    var city = document.getElementById('city').value.trim();
    var state = document.getElementById('state').value.trim();
    var pincode = document.getElementById('pincode').value.trim();
    const alertContainer = document.getElementById('alert-container3');

        // Perform validation
        if (name === '' || building === '' || mobile === '' || street === '' || city === '' || state === '' || pincode === '') {
            alertContainer.innerHTML = 'Plese enter valid data';
            return false; 
        }

        

        return true; 
    }


    async function showReturnAlert(index, orderId) {
    try {
        const result = await Swal.fire({
            title: 'Return Order',
            html: '<input type="text" id="returnReason" class="swal2-input custom-input" placeholder="Enter reason for return">',
            showCancelButton: true,
            confirmButtonText: 'Submit',
            cancelButtonText: 'Cancel',
            focusConfirm: false,
            preConfirm: () => {
                const returnReason = document.getElementById('returnReason').value;
                if (!returnReason) {
                    Swal.showValidationMessage('Please enter the reason for return');
                }
                return returnReason;
            },
            allowOutsideClick: () => !Swal.isLoading(),
            customClass: {
                input: 'custom-input',
                confirmButton: 'custom-button',
                cancelButton: 'custom-button'
            }
        });

        if (result.isConfirmed) {
            const reason = result.value;

            await Swal.fire({
                title: 'Return submitted!',
                text: `Reason: ${reason}`,
                icon: 'success',
                timer: 1000,
                showConfirmButton: false,
                customClass: {
                    popup: 'animate__animated animate__fadeOut',
                },
            });

            const response = await fetch('/returnproduct', {
                method: 'POST',
                headers: {
                    'Content-type': 'application/json'
                },
                body: JSON.stringify({
                    reason,
                    index,
                    orderId
                })
            });

            if (response.ok) {
                const data = await response.json();
                

                if (data.success) {
                
                    location.reload();
                   // window.location.href = '/profile';
                } else {
                    console.log('failed', data.message || 'No specific error message');
                }
            } else {
                console.error(`HTTP error! Status: ${response.status}`);
            }
        }
    } catch (error) {
        console.error('Error during fetch:', error);
    }
}






            function copyReferralLink() {
                var referralLink = document.getElementById("referralLink");
                 referralLink.select();
                 document.execCommand("copy");

                Swal.fire({
                icon: 'success',
                title: 'Referral link copied to clipboard!',
                showConfirmButton: false,
                 timer: 1500,
                });
                 }




function navigateToPage(page) {
       
    $('#orderdiv').load(`/profile?page=${page} #orderdiv`)

    }


    // </script>




<%- include('../layout/footer') -%>