<%- include('../layout/header') -%>






    <div class="page-wrapper">
        <header class="header">
        
            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>
    
                        <a href="index.html" class="logo">
                            <img src="assets/images/icons/footshow3-removebg-preview.png" alt="Molla Logo" width="105" height="25">
                        </a>
    
                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container ">
                                    <a href="/" >HOME</a>
    
                                </li>
                                <li>
                                    <a href="/shop" >SHOP</a>
    
                                </li>
                                <li>
                                    <a href="/men" >MEN</a>
    
                                </li>
                                <li >
                                    <a href="/women" >WOMEN</a>
    
                                </li>
                              
                               
                                
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->
    
                    <div class="header-right">
                        <div class="header-search header-search-extended header-search-visible" style="width:200px">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                            <form action="#" method="get">
                                <div class="header-search-wrapper">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="q" id="q" placeholder="Search product ..." required>
                                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                        
                        <a href="/wishlist" class="wishlist-link">
                            <i class="icon-heart-o"></i>
                            <% if (locals.wishcount){ %>
                                <span class="wishlist-count"><%= locals.wishcount %></span>
                                <%}%>
                        </a>
    
                        <div class="dropdown cart-dropdown ">
                            <a href="/cart" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" data-display="static">
                                <i class="icon-shopping-cart"></i>
                                <% if (locals.cartcount){ %>
                                    <span class="cart-count"><%= locals.cartcount %></span>
                                <%}%>
                            </a>
                        </div><!-- End .cart-dropdown -->
    
    
                        <!-- <div id="box">
                            <a href="/login">
                                <i class="icon-user"></i>
                            </a>
                        </div> -->
                        <% if (locals.track) { %>
                            <div class="dropdown compare-dropdown">
    
                                <a href="#" class="sf-with-ul" role="button"    aria-haspopup="true" aria-expanded="false"  style="color:black; " data-display="static" >
                                
                                        <%= user.name %>
                            
                                </a>
                          
                                <div class="dropdown-menu dropdown-menu-right" style="width: 150px;">
                                    <ul class="compare-products">
                                        <li class="compare-product">
                                            <h4 class="compare-product-title">  <a href="/profile?id=<%= user.email %>" >Profile</a></h4>
                                        </li>
                                        <li class="compare-product">
                                            <a href="/logout" >Logout</a>
                                        </li>
                                    </ul>
                                </div><!-- End .dropdown-menu -->
                            </div><!-- End .compare-dropdown -->
    
                            <% } else { %>
                                <a id="txt" href="/login" style="margin-left: 30px;color:black;">
                                    LOGIN
                                </a>
                            <% } %>
                        
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Wishlist<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Wishlist</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="container">
                    <% if(locals.wishlist && locals.wishlist.products.length>0) { %>

                        <table class="table table-wishlist table-mobile" id="wishlist-table">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Stock Status</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
    
                            <tbody>
                                <% wishlist.products.forEach((product)=>{ %>
                                    <tr>
                                        <td class="product-col">
                                            <div class="product">
                                                <figure class="product-media">
                                                    <a href="#">
                                                        <img src="/images/<%= product.productid.image[0] %>" alt="Product image">
                                                    </a>
                                                </figure>
        
                                                <h3 class="product-title">
                                                    <a href="#"><%= product.productid.name %></a>
                                                </h3><!-- End .product-title -->
                                            </div><!-- End .product -->
                                        </td>


                                        <!-- <td class="price-col">₹<%= product.productid.price %></td> -->

                                        <% if(product.productid.offer) {%>

                                            <%
                                                
                                                const originalPrice = product.productid.price;
                                                const discountPercentage = product.productid.offer.percentage;
                                                const discountAmount = (originalPrice * discountPercentage) / 100;
                                                const discountedPrice = originalPrice - discountAmount;
                                                %>
                                                <td class="price-col">₹<%= discountedPrice %></td>
                                               
                                               
                                          
                                       <% } else if(product.productid.category.offer) {%>
    
                                        <%
                                                
                                                const originalPrice = product.productid.price;
                                                const discountPercentage = product.productid.category.offer.percentage;
                                                const discountAmount = (originalPrice * discountPercentage) / 100;
                                                const discountedPrice = originalPrice - discountAmount;
                                                %>
                                               
                                                <td class="price-col">₹<%= discountedPrice %></td>
                                        <% } else{  %> 
                                            <td class="price-col">₹<%= product.productid.price %></td>
    
                                      <% }%>
                                        



                                        <% if (product.available===true) { %>
                                            <td class="stock-col"><span class="in-stock">In stock</span></td>
                                            <%} else{ %>
                                                <td class="stock-col"><span class="out-of-stock">Out of stock</span></td>
                                                <%}%>
                                        
                                        <td class="action-col">
                                            <% if (product.available===true) { %>
                                                <button class="btn btn-block btn-outline-primary-2 addToCartBtn"  data-product-id="<%= product.productid._id %>"><i class="icon-cart-plus" ></i>Add to Cart</button>
                                            <%} else{ %>
                                                <button class="btn btn-block btn-outline-primary-2 disabled">Out of Stock</button>
                                            <%}%>
                                           
                                        </td>
                                        <td class="remove-col"><button class="btn-remove removewishBtn" data-product-id="<%= product.productid._id %>"><i class="icon-close"></i></button></td>
                                    </tr>




                                <%})%>
                                
                            </tbody>
                        </table><!-- End .table table-wishlist -->

                    <%} else{%>
                    <h1>Your wishlist is empty</h1>
                    <%}%>
					
	            	<div class="wishlist-share">
	            		<div class="social-icons social-icons-sm mb-2">
	            			<label class="social-label">Share on:</label>
	    					<a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
	    					<a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
	    					<a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
	    					<a href="#" class="social-icon" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
	    					<a href="#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
	    				</div><!-- End .soial-icons -->
	            	</div><!-- End .wishlist-share -->
            	</div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

 
        <footer class="footer">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget widget-about">
                                <img src="assets/images/icons/footshow3-removebg-preview.png" class="footer-logo" alt="Footer Logo" width="105" height="25">
                                <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. </p>
    
                                <div class="social-icons">
                                    <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Pinterest"><i class="icon-pinterest"></i></a>
                                </div><!-- End .soial-icons -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
    
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->
    
                                <ul class="widget-list">
                                    <li><a href="/about">About Footshow</a></li>
                                    <li><a href="/shop">Shop on Footshow</a></li>
                                    <li><a href="/resgister">Register</a></li>
                                    <li><a href="/login">Log in</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
    
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->
    
                                <ul class="widget-list">
                                    <li><a href="#">Payment Methods</a></li>
                                    <li><a href="#">Money-back guarantee!</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Terms and conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
    
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->
    
                                <ul class="widget-list">
                                    <li><a href="/login">Sign In</a></li>
                                        <li><a href="/cart">View Cart</a></li>
                                        <li><a href="/wishlist">My Wishlist</a></li>
                                        <li><a href="/profile">Track My Order</a></li>
                                        <li><a href="/profile">Profile</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->
    
            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p><!-- End .footer-copyright -->
                    <figure class="footer-payments">
                        <img src="assets/images/payments.png" alt="Payment methods" width="272" height="20">
                    </figure><!-- End .footer-payments -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->
    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>
            
            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="active">
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="/shop">Shop</a>
                        
                    </li>\<li class="active">
                        <a href="/men">MEN</a>
                    </li>
                    <li>
                        <a href="/women">WOMEN</a>
                        
                    </li>
                    
                    <li>
                        <a href="#">Pages</a>
                        <ul>
                            <li>
                                <a href="/cart">Cart</a>

                              
                            </li>
                            <li>
                                <a href="/wishlist">Wishlist</a>

                                
                            </li>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/profile">Profile</a></li>
                            <li><a href="/about">About</a></li>
                            
                        </ul>
                    </li>
                   
                   
                </ul>
            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

    <!-- Sign in / Register Modal -->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Register</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tab-content-5">
                                <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="signin-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="singin-email">Username or email address *</label>
                                            <input type="text" class="form-control" id="singin-email" name="singin-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="singin-password">Password *</label>
                                            <input type="password" class="form-control" id="singin-password" name="singin-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>LOG IN</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="signin-remember">
                                                <label class="custom-control-label" for="signin-remember">Remember Me</label>
                                            </div><!-- End .custom-checkbox -->

                                            <a href="#" class="forgot-link">Forgot Your Password?</a>
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                                <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="register-email">Your email address *</label>
                                            <input type="email" class="form-control" id="register-email" name="register-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="register-password">Password *</label>
                                            <input type="password" class="form-control" id="register-password" name="register-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>SIGN UP</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="register-policy" required>
                                                <label class="custom-control-label" for="register-policy">I agree to the <a href="#">privacy policy</a> *</label>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login  btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->

    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>



<script>

// add to cart

const addToCartButtons = document.querySelectorAll('.addToCartBtn');


addToCartButtons.forEach(button => {
    button.addEventListener('click', function (event) {
        event.preventDefault();

        const pid = button.getAttribute('data-product-id');


        fetch(`/addtocartwish?id=${pid}`, {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json'
        }
        
    })

    .then(response => {
            
            if (response.ok) {
                return response.json();
            } else {
                throw new Error('Failed to add to cart');
            }
        })
        .then(data => {

            handleCartResponse(data);
        })
    .catch(error => {
            console.error('Error adding to cart:', error);
            showAlert('Error', 'Failed to add to cart', 'error');
        });





    });
});

function handleCartResponse(data) {
    if (data.success) {
        showAlert('Success', data.message, 'success');

    } else {
        
        showAlert('Failed', data.message, 'error');

        

    }
}
function showAlert(title, message, icon) {
    Swal.fire({
        title: title,
        text: message,
        icon: icon,
        showConfirmButton: false,
        timer: 1000,customClass: {
            popup: 'animate__animated animate__fadeOut',
        },
    }).then((result) => {
            if (message.includes('User not login')) {
    window.location.href = '/login';
}
else{
    window.location.href = '/wishlist';
}
        
    });
}


//remove wishlist------


const removebtn=document.querySelectorAll('.removewishBtn')

removebtn.forEach(button => {
    button.addEventListener('click', function (event) {
        event.preventDefault();
        console.log('clicked')

        const pid = button.getAttribute('data-product-id');

        fetch(`/removewishlist?pid=${pid}`,{
            method:'GET',
            headers:{
                'Content-Type': 'application/json'
            }
           
        })
        .then(response=>{
            return response.json()
        })
        .then(data=>{
            if(data.success){
            

                Swal.fire({
        title:'Success',
        text: data.message,
        icon: 'success',
        showConfirmButton: false,
        timer: 1000,customClass: {
            popup: 'animate__animated animate__fadeOut',
        },
    }).then((result) => {
            
    window.location.href = '/wishlist';
        
    });

            }
            else{
                Swal.fire({
        title:'Failed',
        text: data.message,
        icon: 'error',
        showConfirmButton: false,
        timer: 1000,customClass: {
            popup: 'animate__animated animate__fadeOut',
        },
    }).then((result) => {
            if (message.includes('User not login')) {
    window.location.href = '/login';
}
else{
    window.location.href = '/wishlist';
}
        
    });
                
               

            }
        })
        .catch(error=>{
            Swal.fire({
        title:'Failed',
        text: data.message,
        icon: 'error',
        showConfirmButton: false,
        timer: 1000,customClass: {
            popup: 'animate__animated animate__fadeOut',
        },
    }).then((result) => {
            if (message.includes('User not login')) {
    window.location.href = '/login';
}
else{
    window.location.href = '/wishlist';
    
}
        
    });
            console.log(error.message)
        })
        


    

    });
});
</script>



    <%- include('../layout/footer') -%>